.youtube__cont {
    background-color: var(--black);
}
.youtube__inner {
   
}

.youtube__list {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 1 1 23%;
            margin: 1%;
            img {
                border-radius: 0.4em;
            }
            p {
                color: var(--white);
                font-family: var(--subKor_font);
                padding-top: 10px;
            }
        }
    }
}

.youtube__search {
    position: relative;
    h2 {
        color: var(--white);
        font-size: 40px;
        font-family: var(--subKor_font);
        text-indent: -9999px;
        width: 0; height: 0;
       
    }
    input {
        border: 2px solid var(--light_border);
        width: 98%;
        background: var(--black);
        border-radius: 50px;
        padding: 1rem 5rem 1rem 2rem;
        color: var(--light_bg);
        font-family: var(--subKor_font);
        margin: 0 1%;
        margin-bottom: 5%;
    }
    button {
        position: absolute;
        right: 20px;
        top: 9px;
        background: transparent;
        border: 0;
        color: var(--black);
        background: var(--white);
        font-family: var(--subKor_font);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 12px;
        transition: opacity 0.3 ease;

        &:active {
            opacity: 0.7;
        }
    }
}

@media (max-width: 1000px) {
    .youtube__list ul li {
        flex: 1 1 43%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}


@media (max-width: 600px) {
    .youtube__list ul li {
        flex: 1 1 96%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}


//애니메이션
.youtube__inner,
.youtube__search,
.youtube__list {
    opacity: 0;
    transform: translateY(50px);
}

    

